apiVersion: v1
kind: Secret
metadata:
  name: {{ ops_ingress_name }}-cloudflare-token
  namespace: "{{ ops_ingress_namespace }}"
type: Opaque
data:
{% for zone in ops_ingress_routes | map(attribute='zone') | unique | list %}
  api_token_{{ zone | replace('.', '_') }}: "{{ cloudflare_tokens[zone] | b64encode }}"
{% endfor %}
