apiVersion: v1
kind: Secret
metadata:
  name: caddy-cloudflare-token
  namespace: "{{ caddy_namespace }}"
type: Opaque
data:
{% for zone, token in cloudflare_tokens.items() %}
  api_token_{{ zone | replace('.', '_') }}: "{{ token | b64encode }}"
{% endfor %}
