apiVersion: v1
kind: Secret
metadata:
  name: headlamp-auto-login-token
  namespace: "{{ headlamp_namespace }}"
  annotations:
    kubernetes.io/service-account.name: "{{ headlamp_auto_login_sa_name | default(headlamp_release_name) }}"
type: kubernetes.io/service-account-token
