apiVersion: v1
kind: Secret
metadata:
  name: {{ prometheus_remote_write_secret_name }}
  namespace: {{ prometheus_namespace }}
type: Opaque
stringData:
  username: "{{ prometheus_remote_write_username }}"
  password: "{{ prometheus_remote_write_password }}"
