apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ trustee_operator_namespace }}
type: Opaque
stringData:
{% for key_name, key_value in secret_data.items() %}
  {{ key_name }}: "{{ key_value }}"
{% endfor %}
