{% for resource in trustee_kbs_storage_secrets | dict2items %}
{% set seed = resource.value['workload-secret-seed'] | default('') %}
{% if seed | length > 0 %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ resource.key }}
  namespace: {{ trustee_operator_namespace }}
type: Opaque
stringData:
  workload-secret-seed: "{{ seed }}"
---
{% endif %}
{% endfor %}
